<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="h5 title"><span>Tag cloud</span></h4>
	<div class="content tag-cloud">
		<a href="/tag/faith">Faith</a>
	</div>
</div>
<!-- end tag cloud widget -->