<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>Text Widget</span></h4>
	<div class="content">
		<a href= >About Us</a><br />
		<a href= >Submission policy</a><br />
		<a href= >Privacy policy</a><br />
		<a href= >Policies and standards</a><br />
		<a href= >Ad choices</a><br />
		<a href= >Contact us</a><br />
		<a href= >Donate</a><br />
	</div>
</div>
<!-- end widget -->